# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [1]:
def add_two(x):
    return x + 2

print(add_two)

<function add_two at 0x000001967FC23A60>

In [3]:
# (keyword lambda) (one or more inputs/parameter) (colon) (return value)

In [4]:
lambda x: x + 2

In [5]:
print(lambda x: x + 2)

<function <lambda> at 0x000001967FC23B80>

In [78]:
# IIFE - Immediately Invoked Fn Epression
# Execute a Lambda fn immediately after creation

# (lambda syntax in parentheses)(input)

(lambda x, y: x + y + 2)(5, 1)

8

#### Saving to a Variable

In [10]:
named_lambda = lambda y: y + 2

print(named_lambda)

named_lambda(15)

<function <lambda> at 0x000001967FC23430>

17

#### Multiple Inputs

In [14]:
def multiply(x, y, z):
    return x * y * z

multiply(5, 10, 2)

100

In [15]:
# as an IIFE
(lambda x, y, z: x * y * z)(5, 10, 2)

100

#### Passing a fn into a fn

In [25]:
def apply_func(f, name):
    '''
    f -> is the fn to execute
    name -> name to execute the fn on
    '''
    return f(name)

def get_first_letter(string):
    return string[0]


apply_func(get_first_letter, 'Brian')

'B'

#### Passing a Lambda into a Function

In [26]:
# call the apply_func function, pass in lambda fn as f argument, pass in 'codingtemple' as name argument
apply_func(lambda string: string[-1], 'codingtemple')

'e'

#### Returning a Fn from a Fn

In [32]:
# regular defined fn
# takes in a num argument
def create_multiplier(num):
    # defines a local scope fn that takes in an x value
    def inner_func(x):
        # return x * the outer scope's num value
        return num * x
    # return the reference to the fn defined within this create_multiplier fn
    return inner_func

# this works bc num is on global scope (create_multiplier fn) relative to local x (inner_func)

# five_times becomes a fn itself since 
five_times = create_multiplier(5)
print(five_times)
five_times

<function create_multiplier.<locals>.inner_func at 0x00000196019D6F70>

In [33]:
print(inner_func) # will not work bc inner_func is in a local scope of create_multiplier

NameError: name 'inner_func' is not defined

#### Returning a Lambda from a Function

In [36]:
# create a fn that takes in a num
def new_multiplier(num):
    # return the lambda fn that takes in an x and will multiply x by outer scope's num
    return lambda x: num * x

five = new_multiplier(5)
print(five)

three = new_multiplier(3)
print(three)

print(five(10), three(10))

<function new_multiplier.<locals>.<lambda> at 0x0000019601650B80>
<function new_multiplier.<locals>.<lambda> at 0x0000019601650A60>
50 30

#### If Statements within Lambdas

In [37]:
def do_something(num):
    if num > 10:
        return num * 2
    else:
        return num + 2
    
do_something(5)

7

In [39]:
# ^^ Ternary: value_if_true if condition else value_if_false
def do_something_again(num):
    return num * 2 if num > 10 else num + 2

do_something_again(5)

7

In [49]:
# lambda input(s): <value to return if true> if <condition> else <value to return if false>

# IIFE
(lambda num: num * 2 if num > 10 else num + 2)(5)

7

In [41]:
my_list = []
for x in range(0,100,2):
    my_list.append(x)
    
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [43]:
list_comp = [x for x in range(0,100,2)]
print(list_comp)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [44]:
my_list = []
for x in range(0,100,2):
    if x % 5 == 0:
        my_list.append(x**2)
    else:
        my_list.append(x)
    
print(my_list)

[0, 2, 4, 6, 8, 100, 12, 14, 16, 18, 400, 22, 24, 26, 28, 900, 32, 34, 36, 38, 1600, 42, 44, 46, 48, 2500, 52, 54, 56, 58, 3600, 62, 64, 66, 68, 4900, 72, 74, 76, 78, 6400, 82, 84, 86, 88, 8100, 92, 94, 96, 98]

In [46]:
list_comp = [x**2 if x%5 == 0 else x for x in range(0,100,2)]
print(list_comp)

[0, 2, 4, 6, 8, 100, 12, 14, 16, 18, 400, 22, 24, 26, 28, 900, 32, 34, 36, 38, 1600, 42, 44, 46, 48, 2500, 52, 54, 56, 58, 3600, 62, 64, 66, 68, 4900, 72, 74, 76, 78, 6400, 82, 84, 86, 88, 8100, 92, 94, 96, 98]

In [48]:
age = int(input('How old are you: '))

age_group = 'senior' if age > 64 else 'adult' if age > 18 else 'child'

print(age_group)

How old are you: 67
senior

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [79]:
# IIFE

f = lambda num: num ** 3
f(2)

#---------------------------------------------

def power_of(num):
    return lambda x: x ** num

third = power_of(4)(3)
third

81

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [94]:
def squared_minus_two(blah):
    return blah ** 2 - 2

# Random list
numbers = [12,3,5,494,3,6,2]

# create an empty list
new_nums = []
# loop over the current numbers list
for num in numbers:
    # apply the fn and save it  to variable
    new_num = squared_minus_two(num)
    # append the new num to our new list
    new_nums.append(new_num)
    
    
print(new_nums)

[142, 7, 23, 244034, 7, 34, 2]

In [88]:
# map(fn, *iterable -> list, tuple, string, set, dict, etc)

list(map(squared_minus_two, numbers))

[142, 7, 23, 244034, 7, 34, 2]

In [89]:
(map(squared_minus_two, numbers))

In [91]:
x_values = [1,2,3,4,5,6,7]
y_values = [10, 12, 22, 54, 58, 68, 7]

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y

list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=12
x=3, y=22
x=4, y=54
x=5, y=58
x=6, y=68
x=7, y=7

[10, 24, 66, 216, 290, 408, 49]

In [95]:
# map only accts for the shortest iterable for outputs

x_values = [1,2,3,4,5,6,7]
y_values = [10, 12, 22,] # reduced the size of this list

def multiply(x, y):
    print(f"x={x}, y={y}")
    return x * y

list(map(multiply, x_values, y_values))

x=1, y=10
x=2, y=12
x=3, y=22

[10, 24, 66]

#### Using Lambda's with Map

In [96]:
# def squared_minus_two(nun):
#     return numb ** 2 - 2

numbers_again = [4, 3, 2, 35, 544, 8]

list(map(lambda num: num**2 - 2, numbers_again))

[14, 7, 2, 1223, 295934, 62]

In [98]:
x_vals = [1,2,3,4,5]
y_vals = [12, 31, 42, 3]

list(map(lambda a, b: b / a, x_vals, y_vals))

[12.0, 15.5, 14.0, 0.75]

#### In-Class Exercise #2 <br>
<p>Use the map fn to double each number if it is even and halve it if it is odd</p>

In [105]:
numbers = list(range(1,11))

def doubles(num):

    if num % 2 == 0:
        return num * 2
    else:
        return num / 2
        
list(map(doubles, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

In [108]:
list(map(lambda num: num * 2 if num % 2 == 0 else num / 2, numbers))

[0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [110]:
# list of names
names = ['bob', 'jeremy', 'adam', 'alex', 'don']

def starts_with_a(name):
    if name[0].lower() == 'a':
        return True
    else:
        return False
    
a_names_map = list(map(starts_with_a, names))
print(a_names_map)

[False, False, True, True, False]

In [111]:
# filter will return the value if True, removes False values
a_names_filter = list(filter(starts_with_a, names))
print(a_names_filter)

['adam', 'alex']

#### Using Lambda's with Filter()

In [ ]:
list(filter(lambda name: True if name[0].lower() == 'a' else False, names))

In [117]:
list(filter(lambda name: name[0].lower() == 'a', names))

['adam', 'alex']

In [113]:
def remainder(num):
    # takes in a number and returns the remainder after dividing by 3
    return num % 3

my_nums = [1,2,3,4,5,6,7,8,9,10]
list(map(remainder, my_nums))

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]

In [115]:
# if you put filter vs map in above object, filter returns the value if its True, if False returns nothing
list(filter(remainder, my_nums))

[1, 2, 4, 5, 7, 8, 10]

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [199]:
import statistics, random

# list of 20 random numbers
# filter out all numbers that are below the mean of the list 
# return all numbers above the mean of the list

numbers = [random.randint(1,100) for _ in range(20)]
print(numbers)

list(filter(lambda num: num > statistics.mean(numbers), numbers))

[29, 32, 27, 14, 35, 43, 15, 48, 24, 97, 4, 82, 94, 96, 95, 21, 37, 35, 72, 95]

[97, 82, 94, 96, 95, 72, 95]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [201]:
help(reduce) # not a built in fn

NameError: name 'reduce' is not defined

In [202]:
from functools import reduce

help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

#### Using Lambda's with Reduce()

In [206]:
# this is rarely used, use a for loop with an empty object and add to object through each iteration
reduce(lambda x, y: x + y, [1,2,3,4,5])

15

In [207]:
def add_nums(x, y):
    print('='*30)
    print(f"x: {x}")
    print(f"y: {y}")
    print(f"returns: {x + y}")
    return x + y


reduce(add_nums, [1,2,3,4,5])

==============================
x: 1
y: 2
returns: 3
==============================
x: 3
y: 3
returns: 6
==============================
x: 6
y: 4
returns: 10
==============================
x: 10
y: 5
returns: 15

15

In [208]:
total = 0
for num in [1,2,3,4,5]:
    print(f"total: {total}, num: {num}")
    total += num
    
print(total)

total: 0, num: 1
total: 1, num: 2
total: 3, num: 3
total: 6, num: 4
total: 10, num: 5
15

In [211]:
list1 = [1,2,3,4,5]
result_lambda = reduce(lambda num1, num2: num1 * num2, list1)
print(result_lambda)

120

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

In [213]:
def capitalize(name):
#     takes in a name, upper cases the first letter and lower cases the rest of name/word
    return name[0].upper() + name[1:].lower()


def full_name(first, last):
    # takes in a first name, calls the capitalize fn on first, takes in second name, capitalizes secnond name
    # and return concatenated string of first + space + last
    return capitalize(first) + ' ' + capitalize(last)


def greet_person(first, last, day):
    # takes in first, last, and a day of the week
    print('Hello')
    # sets a variable to the return value of the full_name fn (first + space + last)
    person_full_name = full_name(first, last)
    print(f"Hello {person_full_name}, it sure is beautiful on this {capitalize(day)}!")
    
    
greet_person('juan', 'soto', 'tuesday')

Hello
Hello Juan Soto, it sure is beautiful on this Tuesday!

#### Implementing a Base Case

In [218]:
def add_nums(num):
    # the base case
    if num <= 1:
        print(f"add_nums({num}) = {num}")
        return num
    else: 
        print(f"add_nums({num}) = {num} + add_nums({num - 1})")
        return num + add_nums(num - 1)
    
    
add_nums(5)

add_nums(5) = 5 + add_nums(4)
add_nums(4) = 4 + add_nums(3)
add_nums(3) = 3 + add_nums(2)
add_nums(2) = 2 + add_nums(1)
add_nums(1) = 1

15

#### Writing a Factorial Function

In [219]:
# 5! = 5 * 4!
# 4! = 4 * 3!
#...
# 1! = 1

def factorial(num):
    output = 1
    while num > 0:
        output *= num
        num -= 1
    return output

factorial(5) # 120

120

In [221]:
def factorial(num):
    # base case checking if num is equal to or less than one (to end the fn)
    if num <= 1:
        return num
    # if number not <= 1, then run the fn again with the current number - 1
    else:
        return num * factorial(num - 1)
    
factorial(5)

120

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [224]:
def sub_nums(num):
    # the base case
    if num <= 1:
        print(f"sub_nums({num}) = {num}")
        return num
    else: 
        print(f"sub_nums({num}) = {num} - sub_nums({num - 1})")
        return num - sub_nums(num - 1)
    
    
sub_nums(5)

sub_nums(5) = 5 - sub_nums(4)
sub_nums(4) = 4 - sub_nums(3)
sub_nums(3) = 3 - sub_nums(2)
sub_nums(2) = 2 - sub_nums(1)
sub_nums(1) = 1

3

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

In [226]:
lengths = map(len, ['Brian', 'Stanton', 'coding temple'])

print(lengths)

<map object at 0x0000019601BCA730>

In [227]:
for l in lengths:
    print(l)

5
7
13

In [228]:
# if you re-run this, it doesnt print bc it is an object (lazyly iterates through)
# this is a generator
for l in lengths:
    print(l)

In [229]:
help(iter)

Help on built-in function iter in module builtins:

iter(...)
    iter(iterable) -> iterator
    iter(callable, sentinel) -> iterator

    Get an iterator from an object.  In the first form, the argument must
    supply its own iterator, or be a sequence.
    In the second form, the callable is called until it returns the sentinel.

In [240]:
a_new_list = [2,3,4,5,6,7,8]

list_iter = iter(a_new_list)

In [241]:
print(list_iter)

<list_iterator object at 0x000001960347A7F0>

In [242]:
# next takes an iterable object such as list or string or dict, and returns value
next(list_iter)

2

In [243]:
next(list_iter)

3

In [244]:
next(list_iter)

4

In [245]:
next(list_iter)

5

In [246]:
next(list_iter)

6

In [247]:
next(list_iter)

7

In [248]:
next(list_iter)

8

In [249]:
next(list_iter)

StopIteration:

In [ ]:
for x in list_iter:
    print(x)

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [250]:
def my_range(start, stop, step=1):
    while start < stop:
        return start
        start += step
        
my_range(0, 10)

0

In [255]:
# yield denotes a generator, so it does not RETURN and end the fn but instead yields the number to the caller
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start += step

my_range(0, 10)

In [256]:
for x in my_range(0, 10):
    print(x)

0
1
2
3
4
5
6
7
8
9

#### Infinite Generator

In [257]:
# bad, never create infinite loops

def infinite(x):
    while True:
        yield x
        x += 1
    
#infite_gen = infinite(1)

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [365]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

list(filter(lambda city: (len(city) > 2) or city != ' ' and city != '' and city != '  ', places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [357]:
authors = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

# def last_name(authors):
#     for author in authors:
#         print(author.split()[-1])
        
# last_names = [author.split() for author in authors]
# last_names.sort()
# print(last_names)
        
# last_name(authors)

# sorted(authors, key=lambda author: author[2])

# need to get the [-1] item of each split list, sort by last name descending, then join the split list again?
# def split_list(authors):
#     sort_list = [author.split()[-1] for author in (authors)]
#     return sorted(sort_list, key=str.lower)

# split_list(authors)

# list(map(lambda author: author.split()[-1], sorted(authors, )))
sorted(list(map(lambda author: author.split()[-1], authors)), key=str.lower)

['aNisimov', 'Bernstein', 'Carter', 'Garfield', 'hassELHOFF']

In [320]:
sorted("This is a test string from Andrew".split(), key=str.split)

['Andrew', 'This', 'a', 'from', 'is', 'string', 'test']

In [260]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [296]:
# check this to solve above 
names = ['bob', 'brian', 'alan', 'william', 'charles']

sorted(names, key=str)

['alan', 'bob', 'brian', 'charles', 'william']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [339]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

list(map(lambda city_weather: (city_weather[0], city_weather[-1]*(9/5)+32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 0 
Iteration 1: 1 
Iteration 2: 1 + previous 
Iteration 3: 2 + previous 
Iteration 4: 3 + previous OR next - previous
Iteration 5: 5 + previous OR next - previous
Iteration 6: 8 + previous `

In [221]:
def factorial(num):
    # base case checking if num is equal to or less than one (to end the fn)
    if num <= 1:
        return num
    # if number not <= 1, then run the fn again with the current number - 1
    else:
        return num * factorial(num - 1)
    
factorial(5)

120

In [405]:
def fibo(i):
#     print(f"Iteration {i}: {fib(i)}")
    if i ==0:
        return 0
    elif i == 1 or i == 2:
        return 1
    else:
        return fibo(i - 1) + fibo(i - 2)
    
n = 7
for i in range(n):
    print(fibo(i))

0
1
1
2
3
5
8

In [ ]:
F0	F1	F2	F3	F4	F5	F6	F7	F8	F9	F10	F11	F12	F13	F14	F15	F16	F17	F18	F19	F20
0	1	1	2	3	5	8	13	21	34	55	89	144	233	377	610	987	1597	2584	4181	6765

#### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [ ]:
# from 10 down to 0 (100, 81, 64, 49, etc)